*
!*.go
!*.sum
!*.mod
!*.md
!LICENSE
!.gitkeep
!.gitconfig
!static/**
!*/
!go.work
!*.sh
!*.yml
!*.yaml
!*.json
!*.toml
!*.sql
!.claude
gormx/source/g/dal/*
gormx/source/g/model/*
gormx/source/migrations/*
